MONGO_URI =mongodb://localhost:27017/toppi_business
MONGO_URI_ONL=  em_dang_dung_bien_nay_de_connect_DB  | dbConnection.config.js
TEMP_PORT = 3500
HTTP_PORT = 8080
HTTPS_PORT = 8443
SECRET_JWT = doanhdoanduocem@2025