<footer
    class="bg-[linear-gradient(180deg,rgba(239,248,241,0.8)_0%,rgba(227,251,251,0.8)_100%)),url('/imgs/bg-hero.png')] bg-cover bg-[47%_20%] lg:mx-[2%] lg:rounded-[30px] lg:my-[30px]"
>
    <div class="main-container">
        <div class="py-6 ">
            <div class="logo">
                <img class="w-[181px] h-auto"  src="/imgs/logo.png" alt="img-logo">
            </div>
            <h3 class="title font-bold text-[30px] leading-10 tracking-normal my-7">Nạp lại năng lượng sống!</h3>
            <hr class="border-t border-gray-300 my-6" />
            <ul class="info font-medium text-[18px] leading-7 tracking-normal">
                <li class="flex gap-x-3 mt-3">
                    <span><i class="fa-solid fa-location-dot"></i></span
                    ><span>Tòa nhà F Central, số 16A Lê Hồng Phong, Phường 12, Quận 10, Hồ Chí Minh</span>
                </li>
                <li class="flex gap-x-3 mt-3">
                    <span><i class="fa-solid fa-envelope"></i></span><span>email@gmail.com</span>
                </li>
                <li class="flex gap-x-3 mt-3">
                    <span><i class="fa-regular fa-copyright"></i></span><span> 2025 ToppiLife.</span>
                </li>
            </ul>
            <a
                href="#"
                class="mt-10 w-[248px] h-[76px] text-[21px] font-bold  flex justify-center items-center rounded-full px-6 py-4 bg-[linear-gradient(184.88deg,#f7f200_4.18%,#feb928_96.35%)] shadow-[0_4px_24px_0_#00000040] uppercase"
            >
                Tư vấn ngay<i class="fa-solid fa-arrow-right text-lg ml-2"></i>
            </a>
        </div>
    </div>
</footer>
<div class="test h-[400px] w-full" style="color: #e7dfdf"></div>
