<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ToppiLife</title>
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/style.css" />
        <!-- Font Awesome CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
        <!-- swiper -->
        <link rel="stylesheet" href="libs/css/swiper-bundle.min.css" />
        <script src="libs/js/swiper-bundle.min.js" defer></script>
    </head>
    <body>
        <%- include('../partials/header.ejs')%>
        <main><%- body%></main>
        <%- include('../partials/footer.ejs')%>
    </body>
</html>
<!-- screen
 mobile: 480px
 tablet: 768px
 latop: 1024px
-->
